[core]
	editor = vim
	quotepath = false
	# commentchar = !
[alias]
	hist = log --graph --pretty='format:%C(yellow)%h%Creset %C(magenta)%cd%Creset %Cgreen(%an)%Creset %s  %Cred%d%Creset' --date=iso
	hh = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)― %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
	hh1 = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)― %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
	hh2 = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(bold white)%an < %ae >%C(reset)%n''%C(white)%s%C(reset)%n''%b' --abbrev-commit
	hh3 = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)― %an%C(reset)' --abbrev-commit
	hh4 = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset'
	h1  = ! git hh1 | head -n 20
	h2  = ! git hh2 | head -n 20
	h3  = ! git hh3 | head -n 20
	h4  = ! git hh4 | head -n 20
	h  = ! git h1
	ha1  = ! git hh1 --all | head -n 20
	ha2  = ! git hh2 --all | head -n 20
	ha3  = ! git hh3 --all | head -n 20
	ha4  = ! git hh4 --all | head -n 20
	ha  = ! git ha1
	co = checkout
	br = branch
	ci = commit
	st = status --branch --short
	gp = grep --line-number --show-function --color --heading --break
	note = grep --line-number --show-function --color --heading --break NOTE
	prev = checkout HEAD^1
	prev2 = checkout HEAD^2
	next = "!sh -c 'git log --reverse --pretty=%H master | awk \"/$(git rev-parse HEAD)/{getline;print}\" | xargs git checkout'"
	n  = now --all --stat
[push]
	default = current
[github]
	user = kazufusa
	email = kazu.jiyuunosenshi.fusa@gmail.com
[color]
	ui = true
