[user]
	useConfigOnly = true
[core]
	editor = vim
	quotepath = false
	autoCRLF=false
[alias]
	hh = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)― %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
	hh2 = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(bold white)%an < %ae >%C(reset)%n''%C(white)%s%C(reset)%n''%b' --abbrev-commit

	h  = ! git hh  | head -n 20
	h2 = ! git hh2 | head -n 20
	ha = ! git hh --all | head -n 20
	ha2 = ! git hh2 --all | head -n 20

[push]
	default = current
[github]
	user = kazufusa
	email = kazu.jiyuunosenshi.fusa@gmail.com
[color]
	ui = always
[rebase]
	autosquash = true
[merge]
	ff = false
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = vimdiff
[ghq]
	root = ~/src
